@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    src: url('../fonts/Proxima Nova Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url('../fonts/Proxima Nova Bold.otf') format('opentype');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}

body {
    color: #000;
    font-size: 12px;
    font-family: 'Proxima Nova', sans-serif;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1100px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    #products_view {
        padding-left: 0;
        padding-right: 60px;
    }
    #banner, #category {
        padding: 0;
    }
}
@media (max-width: 1199px) {
    #wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    #products_view {
        order: 2;
    }
    #banner {
        order: 1;
        padding-bottom: 35px;
    }
    #category {
        order: 3;
    }
}
@media (min-width: 768px) {
    #banner {
        text-align: center;
    }
}
#wrapper .products-title {
    font-size: 23px;
    font-weight: 600;
    color: #2f2f2f;
    padding-top: 5px;
    padding-bottom: 25px;
}
.product {
    border-top: 1px solid #eaeaea;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
}
#products_view .load-more {
    border-top: 1px solid #eaeaea;
    padding: 15px 0;
    text-align: center;
}
.product .product-header {
    padding-right: 28px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
}
.product-header .brand-img {
    padding: 0 15px 0 5px;
}
.product-header .product-title {
    align-self: flex-start;
}
.product-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.product-title>a:not(.sponsor) {
    padding-bottom: 5px;
}
.product-title a {
    display: block;
    color: #213f9a;
}
.product-title a.sponsor {
    display: inline-block;
}
.product-title .time {
    display: inline-block;
    color: #3f3f3f;
    padding-left: 10px;
}

.brand-img a {
    display: inline-block;
}
.brand-img img {
    max-width: 50px;
    display: block;
}
.product .product-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}
.product-pic img {
    max-width: 100%;
}
.product-description .description-title {
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 21px;
    color: #131313;
}
.description-title a {
    color: #ff7200;
}
.product-description .description-links {
    display: flex;
    align-items: center;
}
.description-links>div {
    /*padding-left: 23px;*/
    padding-right: 15px;
    font-size: 13px;
    /*line-height: 25px;*/
    color: #22409a;
    position: relative;
}
.description-links>div:last-child {
    padding-right: 0;
}
.description-links>div a {
    display: flex;
    align-items: center;
}
.description-links .like a, .description-links .share a {
    color: #000;
}
/*.description-links .similar-search {
    background: url("../img/search-similar-products-icon.png") no-repeat;
}
.description-links .compare-add {
    background: url("../img/add-to-compare-icon.png") no-repeat;
}*/
.description-links>div img {
    padding-right: 5px;
}
.product .arrow-down {
    position: absolute;
    right: 9px;
    top: 30px;
    background: url("../img/arrow-sprite.png") no-repeat;
    background-position: -14px 0;
    width: 10px;
    height: 10px;
}
.product .arrow-up {
    background-position: 0 0;
}
.specification {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}
.specification>div {
    color: #131313;
    font-size: 13px;
    line-height: 21px;
}
.specification .spec-check {
    color: #22409a;
    flex-basis: 30%;
}
.specification .spec-full {
    flex-basis: 70%;
}
.spec-check a {
    display: block;
}
.spec-check a .breadcrumb-separator {
    background: url("../img/breadscrum.png") no-repeat;
    width: 7px;
    height: 9px;
    padding-right: 16px;
    display: inline-block;
}
.specification .spec-title {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}
.spec-wrap .spec-info {
    display: flex;
}
.spec-info .spec-info-label {
    flex-basis: 60%;
}
.spec-info .spec-info-text {
    flex-basis: 40%;
}
.spec-info-label .label-required {
    color: #ff7200;;
}
.spec-slider {
    padding-top: 35px;
}
.spec-slider li {
    display: inline-block;
    padding-right: 10px;
}
.spec-slider li:last-child {
    padding-right: 0;
}
.spec-slider a {
    display: inline-block;
}
.spec-slider a img {
    width: 72px;
    height: 72px;
    border: 1px solid #ededed;
    border-radius: 5px;
}
aside .banner-img {
    display: inline-block;
}
aside .banner-img img {
    max-width: 100%;
}
#category {
    padding-top: 15px;
}
#category .category-wrap {
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
}
.category-wrap .category-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    color: #141414;
    border-top: 4px solid #22409a;
    border-bottom: 1px solid #eaeaea;
    padding: 25px 18px;
}
.category-wrap>div {
    padding: 20px 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.category-wrap figure {
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    width: 145px;
}
.category-wrap figure img {
    max-width: 100%;
    height: 70px;
}
.category-wrap figure figcaption {
    padding-top: 10px;
    font-size: 13px;
    font-family: MyriadPro, sans-serif;
}